@import "./common.css";

main .view{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .view h2{
    width: 80%;
    font-size: 24px;
    padding: 80px 300px 20px 300px;
    border-bottom: 1px solid #BBBBBB;
    display: flex;
    justify-content: center;
    
}

main .wrapper{
    width: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    align-items: center;
    justify-items: center;
}

main .wrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;  
}


main .wrapper .visual-book{
    
    width: 128px;
    height: 179px;
    padding: 13px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #999999;
}

main .wrapper .book-title{
    height: 42px;
    margin: 5px 0 5px 0;
    line-height: 1.25;
    overflow: hidden;
}

/* main .progressbar {
    background-color: white;
    border-radius: 13px;
    padding: 1px;
    margin-top: 15px;
  }
  
main .progress {
    align-self: flex-start;
    background-color: rgba(182, 144, 223, 0.8);
    height: 10px;  
    border-radius: 10px;
    width: 80%;
  }

main .progress-title{
    margin-top: 15px;
} */

/* RWD */

@media (max-width: 980px) and (min-width: 640px){
    main .view h2{
        padding: 80px 150px 20px 150px;
    }
    main .wrapper{
        width: 600px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) and (min-width: 320px){
    main .view h2{
        padding: 60px 50px 15px 50px;
    }
    main .wrapper{
        width: 280px;
        grid-template-columns: repeat(1, 1fr);
    }
}

