/* @import "./multiselect.css"; */
@import "./common.css";

main .view{
    display: flex;
    flex-direction: row;
   max-width: 800px;
   margin-top: 30px;
   background-color: rgba(255, 255, 255, .6);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
main .visual-book{
    flex: none;
    width: 200px;
    height: 280px;
    padding: 13px;
    margin: 50px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #999999;
}

main .visual-book>img{max-height: 255px;}

main .view .line{
    width: 800px;
    border: 0.5px solid #BBBBBB;
}

/* 書的資訊的區塊 */

main .book-detail{
    display: flex;
    width: 500px;
    margin: 20px 10px;
}

main .move-book-detail{
    width:500px;
}
main .move-book-detail>div{
    width:400px;
    margin: 30px;
    line-height: 1.25;
    display: flex;
}

main .move-book-detail>div>span{line-height: 1.5;}

main .move-book-detail>div>span:nth-child(1){
   display: flex;
   width: 10px;
   padding: 0 10px;
}

main #title,
main #author{
    width: 350px;
}

main .move-book-detail>div:nth-child(1)>span:nth-child(1),
main .move-book-detail>div:nth-child(2)>span:nth-child(1){
    padding: 0;
    width: 50px;
}

main #publisher{width: 330px;}
main .move-book-detail>div:nth-child(3)>span:nth-child(1){
    width:65px;
    padding: 0;
}

main .move-book-detail>div:nth-child(5)>span:nth-child(1),
main .move-book-detail>div:nth-child(7)>span:nth-child(1),
main .move-book-detail>div:nth-child(8)>span:nth-child(1){
    width:100px;
}

main .move-book-detail>div>span>span{margin-right: 20px;}

main .book-place{
    display: flex;
    height: 25px; 
    align-items: center;
}

main .book-place img{
    width: 5%;
    margin-right: 10px;
}


.input-edit{
    width: 310px;
    height: 30px;
    border-radius: 8px;
    background-color: white;
    border: solid 1px #BBBBBB;
    padding: 0px 6px;
    margin: 0 10px;
    font-size: 14px;
    font-family: "微軟正黑體";
}

/* 無法變更的樣式 */
.input-init{
    width: 310px;
    height: 30px;
    background-color:transparent;
    border: none;
    margin: 0 10px;
    font-size: 16px;
    font-family: "微軟正黑體";
}


/* .input-init{width: 380px;} */

main .twice-or-not,
main .reading-status,
main .lend-or-not{
    display: flex;
    align-items: center;    
}

main .reading-status>span:nth-child(1),
main .lend-or-not>span:nth-child(1),
main .lend-to>span:nth-child(1){
    margin-left: -9px;
}

main .twice-or-not>input{
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid #cacece;
    padding: 9px;
    border-radius: 12px;
    margin-left: 20px;
    outline: 0;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
}

main .twice-or-not>input:checked{
    background: #fafafa no-repeat center/12px url(../img/check.png);
    outline: 0;
    overflow: visible;
}

/* The container */
main .reading-status .container,
main .lend-or-not .container {
    display: flex;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main .status-choice {display: flex;margin-left: -7px;}
/* Hide the browser's default radio button */
main .reading-status .container input,
main .lend-or-not .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
main .reading-status .checkmark{
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #cacece;
    margin-left: 8px;
}

main .lend-or-not .checkmark{
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #cacece;
    /* margin-left: 8px; */
}

main .lend-to{align-items: center;}

/* On mouse-over, add a grey background color */
main .reading-status .container:hover input ~ .checkmark,
main .lend-or-not .container:hover input ~ .checkmark{
    background-color: #F1F1F3;
}

/* When the radio button is checked, add a blue background */
main .reading-status .container input:checked ~ .checkmark,
main .lend-or-not .container input:checked ~ .checkmark{
    background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
main .reading-status .checkmark:after,
main .lend-or-not .checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
main .reading-status .container input:checked ~ .checkmark:after,
main .lend-or-not .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
main .reading-status .container .checkmark:after,
main .lend-or-not .container .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
    background: transparent no-repeat center/12px url(../img/check.png);
    /* outline: 0; */
    /* overflow: visible; */
}

.view-button{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.book-button{
    width: 800px;
    background-color: rgba(255, 255, 255, .6);
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.book-button input{
    width: 240px;
    height: 35px;
    align-self: center;
    letter-spacing: 2px;
    padding-left: 70px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    font-family: "微軟正黑體";
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.book-button input:nth-child(1){ padding-left: 0;background: url(../img/edit.svg) no-repeat 35px #DCB58C; background-size: 10%;}
.book-button input:nth-child(2){ padding-left: 0;background: url(../img/delete.svg) no-repeat 35px #DCB58C; background-size: 10%;}
.book-button input:nth-child(3){ background: url(../img/calendar.svg) no-repeat 35px #DCB58C; background-size: 10%;}

/* RWD */

@media (max-width: 980px) and (min-width: 640px){
    main .view {flex-direction: column;}
    main .visual-book{align-self: center;margin: 50px 20px 0px 20px;}
    main .book-detail-wrapper{display: flex; justify-content: center;}
    main .book-detail{width: 400px;}
    main .move-book-detail>div>span{line-height: 1.5;}
    main .move-book-detail>div>span:nth-child(1){width: 50px;}    
    main .move-book-detail>div:nth-child(1)>span:nth-child(1){width: 50px; margin-right: 0;} 
    main .move-book-detail>div:nth-child(2)>span:nth-child(1){width: 50px; margin-right: 0;}   
    main .move-book-detail>div>span:nth-child(2){width: 300px; flex-wrap: wrap;}
    main .move-book-detail>div:nth-child(3)>span:nth-child(1){width: 70px;margin-right: 0;}
    main .move-book-detail>div:nth-child(3)>span:nth-child(2){width: 290px;flex-wrap: wrap;}
    main .reading-status>span:nth-child(1), main .lend-or-not>span:nth-child(1), main .lend-to>span:nth-child(1){margin-left: 0;}
    main .move-book-detail>div:nth-child(5)>span:nth-child(1){width:100px; padding: 0;}
    main .reading-status{align-items: center;}
    main .status-choice{width: 273px; justify-content: space-around; margin: 8px 0 10px 6px;}
    main .reading-status .container{margin-left: -40px;}
    main .twice-or-not{align-items: center;}
    main .twice-or-not>input{margin-left: 25px;}
    main .move-book-detail>div:nth-child(7){align-items: center;}
    main .move-book-detail>div:nth-child(7)>span:nth-child(1){width:80px;padding: 0;}
    main .move-book-detail>div:nth-child(8)>span:nth-child(1){width:80px;padding: 0;}
    main .lend-or-not .container{margin-left: 17px;}
    main .checkmark-two{margin-left: -4px;}
    .book-button{display: flex; flex-direction: column; margin-top: -20px;}
    footer .background-img{padding: 20%; background-size: 100%;}
}

@media (max-width: 640px) and (min-width: 320px){
    main .view {flex-direction: column;}
    main .visual-book{align-self: center;margin: 50px 20px 0px 20px;}
    main .book-detail-wrapper{display: flex; justify-content: center;}
    main .book-detail{width: 300px;}
    .input-init{width: 200px;}
    main .move-book-detail>div{width:270px;}
    main #author{width: 200px;line-height: 1.5;}
    main .move-book-detail>div>span:nth-child(1){width: 60px;}    
    main .move-book-detail>div:nth-child(1)>span:nth-child(1){width: 50px; margin-right: 0;} 
    main .move-book-detail>div:nth-child(2)>span:nth-child(1){width: 50px; margin-right: 0;}   
    main #title{width: 200px; flex-wrap: wrap;}
    main .move-book-detail>div:nth-child(3)>span:nth-child(1){width: 65px;margin-right: 0;}
    main #publisher{width: 180px;flex-wrap: wrap;}
    main .reading-status>span:nth-child(1), main .lend-or-not>span:nth-child(1), main .lend-to>span:nth-child(1){margin-left: 0;}
    main .move-book-detail>div:nth-child(5)>span:nth-child(1){width:100px; padding: 0;}
    main .reading-status{flex-direction: column;}
    main .reading-status>span{align-self: flex-start;}
    main .status-choice{width: 273px; justify-content: space-evenly; margin: 8px 0 10px 6px;}
    main .reading-status .container{margin-left: -15px;}
    main .twice-or-not{align-items: center;}
    main .twice-or-not>input{margin-left: 25px;}
    main .move-book-detail>div:nth-child(7){align-items: center;}
    main .move-book-detail>div:nth-child(7)>span:nth-child(1){width:80px;padding: 0;}
    main .move-book-detail>div:nth-child(8)>span:nth-child(1){width:120px;padding: 0;}
    main .lend-or-not .container{margin-left: 17px;}
    main .checkmark-two{margin-left: -4px;}
    /* main .lend-to{flex-direction: column;} */
    main .lend-to>span{align-self: flex-start;margin-bottom: 5px;}
    .input-init{width: 250px;}
    .book-button{display: flex; flex-direction: column; margin-top: -20px;}
    footer .background-img{padding: 20%; background-size: 100%;}

}