* {
    background-color: #F1F1F3;
    box-sizing: border-box;
    line-height: 16px;
}

html, body{
	margin:0px;
}
body{
	font-size:16px;
	font-family:"Noto Sans TC", "微軟正黑體", arial, sans-serif;
    color:#3f3a3a;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-position: bottom center;    
    background-repeat: no-repeat;
    background-size: 60%;
}
form{
	margin:0px;padding:0px;
}
a{
	text-decoration:none;color:inherit;
}
input,select,img{
    vertical-align:middle;
}

img{
    width: 100%;
}

/* header */

header{
    display: flex;
    justify-content: space-around;
    padding: 60px 60px 30px;
    border: 1px solid red;
}

header .btn_menu{
    flex: auto;
    width: 50%;
    cursor: pointer;
    outline: 0;
}

header .btn_menu img{
    width: auto;
    height: 30px;
    margin: 5px 0 0 10px;
}

header .btn_logo{
    flex: none;
    margin: -20px 30px 0 30px;
}

header .btn_logo img{
    max-width: 150px;
    height: auto;
}

header .btn_search{
    flex: auto;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
header .btn_search input{
    flex: none;
    padding: 8px 10px;
    padding-right: 40px;
    width: 0px;
    border-width: 0px;
    border-radius: 15px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top;
    cursor: pointer;
    outline: 0;
}

/* main */

main .view{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}