@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Martel+Sans:200');
/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

* {
    box-sizing: border-box;
    line-height: 16px;
}

body{
	font-size:16px;
	font-family:"Noto Sans TC", "微軟正黑體", arial, sans-serif;
    color:#3f3a3a;   
    background-color: #F1F1F3;
    /* background-image: linear-gradient(rgba(182,144,223, .4),rgba(182,144,223, .2), #F1F1F3); */
}
form{
	margin:0px;padding:0px;
}
a{
	text-decoration:none;color:inherit;
}
input,select,img{
    vertical-align:middle;
}

img{
    width: 100%;   
}

/* loading */
.loading{
    z-index:300;
    display: none;
	position:fixed;top:0px;left:0px;width:100%;height:100%;
	background-color: white;
	opacity: 0.8;
	text-align:center;
}
.loading>img{    
	max-width: 300px;
	position: fixed;
	transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;}

/* menu */

.menu-shade{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(0,0,0,0.5);;
    overflow: hidden;
    z-index: 99;
}

.menu{
    display: flex;
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
    left: -350px;
    background-color:rgba(255,255,255, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    align-items: center;
    -webkit-transition: left 0.5s; 
    transition: left 0.5s;
    overflow: scroll;
    z-index: 200;
}

.close-menu{height: 30px;}

::-webkit-scrollbar { all: unset; width: 0;}

.menu img{
    fleX: none;
    align-self: flex-start;
    width: auto;
    height: 15px;
    margin: 35px 0 0 40px;
    cursor: pointer;
}

.menu div:nth-child(2){
    margin-top: 15px;
}

.menu div{
    width: 80%;
    padding: 35px 0 10px 2px;
    border-bottom: 1px solid #E1E0E1;    
    color: #544D30;
    font-family: "Cinzel", serif, "NSimSun";
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20px;
    cursor: pointer;
}

.menu div a:hover{
    color: #B9B144;  
}

/* header */

header{
    display: flex;
    justify-content: space-around;
    padding: 30px 60px 30px;
    /* background-color: white; */
}

header .btn_menu{
    flex: auto;
    width: 50%;
    cursor: pointer;
    outline: 0;
}

header .btn_menu img{
    width: auto;
    height: 30px;
    margin: 5px 0 0 10px;
}

header .btn_logo{
    flex: none;    
}

header .btn_logo img{
    max-width: 150px;
    height: auto;
    cursor: pointer;
}

header .btn_search{
    flex: auto;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
header .btn_search input{
    flex: none;
    padding: 8px 10px;
    padding-right: 40px;
    width: 0px;
    border-width: 0px;
    border-radius: 15px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
}

/* search */
.search-shade{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin:0;
    background-color: white;
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility:hidden;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:300ms ease;
    -moz-transition:300ms ease;
    -o-transition:300ms ease;
    transition:300ms ease;
}

.searchbar-img{
  width: 100%;
  position: relative;
  margin-bottom: 200px;
}

.searchbar-img>img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 35px;
    right: 65px;
    cursor: pointer;   
}

.search-shade  form{
    width: 80%;
}

.search-shade form input{
    width: 100%;
    border: 0;
    padding: 12px 0;
    border-bottom: 1px solid #B9B144;
    font-family: "微軟正黑體";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}

.searchbar-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchbar-list h5{
    padding: 20px 0 10px 0;
    margin: 5% 0 0 0;
    font-size: 14px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
}
.searchbar-list ul{
    list-style: none;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width:80%;
}

.searchbar-list li{
    font-family: "Cinzel", serif, "NSimSun";
    display: list-item;
    letter-spacing: 2px;
    margin: 20px 3px 0 3px;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
}

.searchbar-list li:after{
    content: "/";
    font-weight: 100;
    padding: 0 5px;
    font-size: 1.75rem;
}

.search-ul a{
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.search-ul a:after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
}

.search-ul a:hover:after{
    border-bottom: 1px solid #B9B144;
    cursor: pointer;
}

/* main */

main .bg{
    position:fixed !important;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width: 100%;
    background: url("../img/background.jpg") bottom center no-repeat  ;
    background-size: 80%;
    background-attachment: fixed;
    opacity: 1;
   z-index: -1;
}

main .view{
    position: relative;
    width: 100%;
    min-height: 523px;
    max-width: 1100px;
    margin: 0px auto;
}

/* footer */

footer .footer{
    padding: 15px;
    background-color: #EBE4D1;
    display: flex;
    justify-content: center;    
    letter-spacing: 1px;
}       

@media (max-width: 980px) and (min-width: 480px){
    .menu{
        width: 250px;
        left: -250px;
    }
    .menu div {
        width: 60%;
        padding: 25px;
    }
}

@media (max-width: 480px) and (min-width: 319px){
    .menu {width:180px;left: -180px;}
    .menu img{margin: 65px 0 0 15px;}
    .menu div:nth-child(2){margin-top: 15px;}
    .menu div {
        width: 75%;
        padding: 15px;
    }
    header{
        padding: 60px 0px 20px;
    }
    header .btn_logo img{max-width: 120px;}
    footer .background-img{padding: 30%;background-size: 100%;}
    footer .footer{padding: 10px;}
}