@import "./common.css";

/* welcome */
/* 
.welcome main .view{
    display: flex;
    justify-content: center;
}

.welcome main .key-visual{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;  
    align-items: center;
}

.welcome main .key-visual>.visual-book{
    flex: none;
    width: 150px;
    height: 214px;
    padding: 13px;
    margin: 110px 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #999999;
}


.welcome main .key-visual>.visual-book:nth-child(2),
.welcome main .key-visual>.visual-book:nth-child(4){
    width: 200px;
    height: 288px;
}

.welcome main .key-visual>.visual-book:nth-child(3){
   width: 300px;
   height: auto;
}

.welcome main .introduce{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    letter-spacing: 2px;
}

.welcome main .introduce p{line-height: 3;}

.welcome main .steps{
    width: 100%;
    padding: 40px 0;
    margin: 30px 0 10px 0;
    background-color: rgba(255, 255, 255, .5);    
    display: flex;
    justify-content: center;
}

.welcome main .stepsBox{
    flex: none;
    display: flex;
    justify-content: space-between;
}

.welcome main .step{
    flex: none;
    width: 128px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}
.welcome main .step>div{
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    background-position: center center;    
    background-repeat: no-repeat;
    background-size: 50%;
}

.welcome main .step:nth-child(1)>div{background-image: url("../img/user.svg");}
.welcome main .step:nth-child(2)>div{background-image: url("../img/bar.svg");}
.welcome main .step:nth-child(3)>div{background-image: url("../img/book.svg");}
.welcome main .step:nth-child(4)>div{background-image: url("../img/bookshelf.svg");}
.welcome main .step:nth-child(5)>div{background-image: url("../img/clock.svg");}

.welcome main .step p { line-height: 1; padding-top: 13px;}


.welcome main .signinDiv{ display: flex; flex-direction: column; margin: 50px;}
.welcome main .signin,
.welcome main .login{
    width: 250px; height: 50px; align-self: center; letter-spacing: 3px; padding-left: 100px; border-radius: 5px; border:none;
    margin: 6px; font-size: 14px; cursor: pointer; font-family: "微軟正黑體";
    background: url("../img/google.svg") no-repeat 20px #8556B7;
	color: white; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
} */

/* real index page */

.welcome{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .view{
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
  /* height: 600px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

main .key-visualBox{
    display: flex;
    justify-content: center;
    margin: 0px 0 50px 0;
    width: 100%;
    max-width: 1000px;
    /* border: 1px solid blue; */
    /* position: relative; */
    /* border: 1px solid blue; */
}

.key-visual {
    overflow: hidden;
    display: flex;
    width: 840px;
    height: 300px;
}

/* .sliding-background{
   
} */
/* 
@keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-2352px, 0, 0);
    }
  } */

.book-list {   
    width: auto;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;   
}

/* desktop */
.book-list-img{
    position: relative;
    width: 128px; 
    height: auto;
    margin: 0 20px;
    box-shadow: 0px 3px 10px 0px #BBBBBB; 
}

.bookTitle{
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-35%,-15%);
    height: 45px;
    line-height: 1.5;
    overflow: hidden;
    font-family: "Martel Sans", sans-serif, "微軟正黑體";
}

.book-list-img:hover{
    transform: scale(1.4);
    transition: transform .75s;   
}

.book-list-img .overlay{
    position: absolute;
    font-family:"Martel Sans", sans-serif, "微軟正黑體";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(101, 101, 101, .6);
    color: white;
    opacity: 0;  
    -webkit-transition: opacity 0s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;  
    cursor: pointer;
}

.book-list-img:hover .overlay{
    opacity: 1;     
}

.overlay>span{
    position: absolute;  
    color: white;
}
.overlay>span:nth-child(1){
    width: 90%;
    letter-spacing:5px;
    text-indent: 5px;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    text-align: center;
}

.overlay>span:nth-child(2){
    width: 60%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 12px;
    letter-spacing:5px;
    text-indent: 5px;
    padding: 2px;
    border: 1px solid white;
    text-align: center;
    align-self: center;  
}

.sample-book{
    width: 128px;
    height: 180px;  
    margin: 0 20px;
    background: url("../img/addbook.svg") center no-repeat;
    background-size: 22%;
    opacity: .6;
    cursor: pointer;
    position: relative;
}

.spanBox .overlay{
    position: absolute;
    font-family: "Martel Sans", sans-serif, "微軟正黑體";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(101, 101, 101, .6);
    color: white;
    opacity: 0;  
    -webkit-transition: opacity 0s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;  
    cursor: pointer;
}

.sample-book:hover {  
    transform: scale(1.4);
    transition: transform .75s;
    background:white;
    opacity: .5;
}   

.spanBox:hover .overlay{
    opacity: 1;
}

/* mobile scroll feature*/

.keyVisualMobile {
    overflow: hidden;
    display: flex;
    max-width: 70%;
    position: relative;
}

.bookListMobile{
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    height: 300px;
}

.bookHref{
    position: relative;
}

.bookTitleMobile{
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-35%,-15%);
    height: 45px;
    line-height: 1.5;
    overflow: hidden;
    font-family: "Cinzel", serif, "微軟正黑體";
}


.bookListMobileImg{
    min-width: 33.3%;
    min-height: 100%;
    scroll-snap-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #pre{
    display: none;
    width: 35px;
    height: 35px;
    background: url("../img/left.svg") bottom center no-repeat;
    background-size: 100%;
    position: absolute;
    left: 7%;
    top: 35%;
    transform: translateY(-35%);
    cursor: pointer;   
    border: 0;
    z-index: 10;
}

main #next{
    display: none;
    width: 35px;
    height: 35px;
    background: url("../img/right.svg") bottom center no-repeat;
    background-size: 100%;
    position: absolute;
    right: 7%;
    top: 35%;
    transform: translateY(-35%);
    cursor: pointer;  
    border: 0; 
    z-index: 10;
}

main .container{
    /* height: 500px;
    scroll-snap-align: start; */
    display: none;
    width: 100%;
    max-width: 1100px;    
    flex-direction: column;
    align-items: center;
    margin: 0 auto 100px auto;
    background-color: rgba(255, 255, 255, 1);
}

main .container-two{
    /* scroll-snap-align: start; */
    /* height: 100%; */
    display: none;
    width: 100%;
    max-width: 1100px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 60px auto;
    /* background-color: rgba(255, 255, 255, .8); */
}

main .container h2,
main .container-two h2 {
    font-size: 20px; 
    font-weight: bold;
    padding: 0px 425px 20px 425px;
    border-bottom: 1px solid #E1E0E1;
}

main .container .add{
    display: flex;
    justify-content: space-around;
    /* width: 70%; */
    width: 100%;
   
}

main .container .search-add,
main .container .scan-add{
    flex: none;
    width: 50%;
    padding: 20px 0 50px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(255, 255, 255, .8); */
}

main .container .search-add h3,
main .container .scan-add h3{
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    padding: 25px 0 25px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #E1E0E1;
    text-align: center;
    /* background-color: rgba(255, 255, 255, .8); */
  
    
}
main .container .search-add select,
main .container #keyword{
    width: 170px;
    height: 25px;
    border-radius: 8px;
    background-color: white;
    border: solid 1px #BBBBBB;
    padding: 0px 4px;
    margin: 5px;
    font-size: 14px;
    font-family: "微軟正黑體";   
}

main .container .search-add select{cursor: pointer;}
main .container #keyword{cursor: text;}

main .container .add .search-add form,
main .container .add .scan-add form{
    display: flex;
    flex-direction: column;
}

main .container .add .search-add form p{margin: 12px;}

main .container .add form button{
    width: 150px;
    height: 35px;
    align-self: center;
    letter-spacing: 3px;
    padding-left: 50px;
    border-radius: 10px;
    border: none;
    margin: 20px;
    font-size: 14px;
    cursor: pointer;
    font-family: "微軟正黑體";
    background: url(../img/search-white.svg) no-repeat 35px #DCB58C;
    background-size: 10%;
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

main .container-two .result{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    min-height: 500px;
} 

main .container-two .result .result-book{
    flex: none;
    display: flex;
    padding: 10px 0 0 80px;
    border-bottom: 1px solid #E1E0E1;
    width: 512px;
}

main .container-two>.result>.result-book>.result-book-img{
    flex: none;
    width: 128px;
    height: 196px;
    /* padding: 13px; */
    margin: 30px 20px;
    /* background-color: white; */
    border-radius: 15px;
    /* box-shadow: 5px 5px 10px #999999; */
}

main .container-two>.result>.result-book>.result-book-info{
    width: 128px;
    margin: 30px 20px;
}

main .container-two>.result>.result-book>.result-book-info>p{
    width: 230px;
    line-height: 1.25;   
    margin: 0 0 15px 0;
    letter-spacing: 1px;  
    font-weight: 600;
}

main .container-two>.result>.result-book>.result-book-info>p>span{
    font-weight: normal;
}

main .container-two .result-book-info button{
    width: 120px;
    height: 35px;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer;
    font-family: "微軟正黑體";
    background: #DCB58C;
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* RWD */
@media (max-width: 1200px) and (min-width: 980px){

    /* welcome */
    .welcome main .key-visual>.visual-book{
        width: 110px;
        height: 157px;
        padding: 13px;
        margin: 40px 15px;        
    }

    .welcome main .key-visual>.visual-book:nth-child(2),
    .welcome main .key-visual>.visual-book:nth-child(4){
        width: 150px;
        height: 214px;
     }

     .welcome main .key-visual>.visual-book:nth-child(3){
        width: 200px;
        height: auto;
     }
    
     .welcome main .step{width:120px; margin: 0 15px;}

    /* real index */
    main .key-visual>.visual-book{
        width: 110px;
        height: 157px;
        padding: 13px;
        margin: 40px 15px;        
    }

    main .key-visual>.visual-book:nth-child(2),
    main .key-visual>.visual-book:nth-child(4){
        width: 150px;
        height: 214px;
     }

    main .key-visual>.visual-book:nth-child(3){
        width: 200px;
        height: auto;
     }

     main .container .add{width: 800px;}

     main .container h2, main .container-two h2{
        padding: 30px 150px 20px 150px;
     }

     main .container-two{max-width: 800px;}

     main .container-two .result{
         flex-direction: column;
         flex-wrap: unset;
     }
}

@media (max-width: 980px) and (min-width: 640px){

    /* welcome */

    .welcome main .key-visual>.visual-book{
        width: 80px;
        height: 114px;
        padding: 10px;
        margin: 40px 15px;        
    }

    .welcome main .key-visual>.visual-book:nth-child(2),
    .welcome main .key-visual>.visual-book:nth-child(4){
        width: 100px;
        height: 142px;
     }

     .welcome main .key-visual>.visual-book:nth-child(3){
        width: 130px;
        height: auto;
     }

     .welcome main .introduce{letter-spacing: 1px;}
     .welcome main .introduce p{line-height: 2;}
    
     .welcome main .step{width:90px; margin: 0 10px;}
     .welcome main .step>div{width: 85px; height: 85px;}
     .welcome main .step p{ font-size: 12px;}

    /* real index page */

    main .key-visualBox{
        margin: 35px 0 30px 0;
    }
    main .key-visual>.visual-book{
        width: 80px;
        height: 114px;
        padding: 10px;
        margin: 40px 15px;        
    }

    main .key-visual>.visual-book:nth-child(2),
    main .key-visual>.visual-book:nth-child(4){
        width: 100px;
        height: 142px;
     }

    main .key-visual>.visual-book:nth-child(3){
        width: 130px;
        height: auto;
     }

     .bookHref{
        width: 60%;
    }
  
    /* main .container h2,
    main .container-two h2 {
        font-size: 20px;
        padding: 40px 240px 20px 240px;
        text-align: center;
    }

    main .container .add{
        max-width: 600px;
        width: 100%;
    } */

    main .container .add .search-add form p,
    main .container .add .scan-add form p{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .container .add .search-add form p label,
    main .container .add .scan-add form p label{
        margin-bottom: 10px;
    }
}

@media (max-width: 640px) and (min-width: 480px){

    /* welcome */

    .welcome main .key-visual>.visual-book:nth-child(odd),
    .welcome main .key-visual>.visual-book:nth-child(even){
        overflow: hidden;
        width: 150px;
        height: 214px;
        padding: 10px;
        margin: 40px 15px;        
    }

    .welcome main .introduce{margin: 40px;}
    .welcome main .introduce p {font-size: 14px; line-height: 2; text-align: center;}
    .welcome main .steps{margin: 20px 0 10px 0;padding: 20px 0;}
    .welcome main .stepsBox{flex-direction: column;}
    .welcome main .step{margin: 20px 20px;}

    /* real index page */
    main .key-visual>.visual-book:nth-child(odd),
    main .key-visual>.visual-book:nth-child(even){
        overflow: hidden;
        width: 150px;
        height: 214px;
        padding: 10px;
        margin: 40px 15px;        
    }

    main .key-visualBox{
        margin: 35px 0 50px 0;
    }

    
    /* for key visual scroll */
    .keyVisualMobile {
        max-width: 70%;
    }
    
    
    .bookListMobile{
        height: 200px;
    }
    
    .bookListMobileImg{
        min-width: 50%;
    }

    main .container, main .container-two{
        width: 100%;
    max-width: 400px;
    }

    main .container h2,
    main .container-two h2 {
        font-size: 20px;
        padding: 40px 150px 20px 150px;
        text-align: center;
    }

    main .container .add{
        max-width: 300px;
        width: 100%;
        flex-direction: column;
    }

    main .container .search-add, main .container .scan-add{
        width: 100%;
    }

    main .container .add .search-add form p,
    main .container .add .scan-add form p{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .container-two .result .result-book{
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 400px;
    }

    main .container-two>.result>.result-book>.result-book-info{
        width: 250px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .container-two>.result>.result-book>.result-book-info>p{
        width: 100%;
    }

    main .container-two .result-book-info button{
        width: 150px;
        margin: 10px;   
    }
}

@media (max-width: 480px) and (min-width: 320px){  

    /* welcome */

    .welcome main .key-visual>.visual-book:nth-child(odd),
    .welcome main .key-visual>.visual-book:nth-child(even){
        overflow: hidden;
        width: 150px;
        height: 214px;
        padding: 10px;
        margin: 40px 15px;        
    }

    .welcome main .introduce{margin: 40px;}
    .welcome main .introduce p {font-size: 14px; line-height: 2; text-align: center;}
    .welcome main .steps{margin: 20px 0 10px 0;padding: 20px 0;}
    .welcome main .stepsBox{flex-direction: column;}
    .welcome main .step{margin: 20px 20px;}

    /* real index page */
    main .key-visual>.visual-book:nth-child(odd),
    main .key-visual>.visual-book:nth-child(even){
        overflow: hidden;
        width: 150px;
        height: 214px;
        padding: 10px;
        margin: 40px 15px;        
    }

    main .key-visualBox{
        margin: 35px 0 50px 0;
    }

    
    /* for key visual scroll */
    .keyVisualMobile {
        max-width: 90%;
    }
    
    
    .bookListMobile{
        height: 200px;
    }
    
    .bookListMobileImg{
        min-width: 100%;
    }

    main #pre,
    main #next{
        transform: translateY(-20%);
    }


    main .container, main .container-two{
        width: 100%;
        max-width: 250px;
    }

    main .container h2,
    main .container-two h2 {
        font-size: 20px;
        padding: 40px 80px 20px 80px;
    }

    main .container .add{
        max-width: 230px;
        width: 100%;
        flex-direction: column;
    }

    main .container .search-add, main .container .scan-add{
        width: 100%;
        padding: 0 0 50px 0;
        margin:20px 5px;
    }

    main .container .add .search-add form p,
    main .container .add .scan-add form p{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .container .add .search-add form label,
    main .container .add .scan-add form label{
        margin: 10px;
    }

    main .container-two .result .result-book{
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 400px;
    }

    main .container-two>.result>.result-book>.result-book-info{
        width: 180px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .container-two>.result>.result-book>.result-book-info>p{
        width: 100%;
    }

    main .container-two .result-book-info button{
        width: 150px;
        margin: 10px;   
    }
}