@import "./common.css";

main .view{
    display: flex;
    justify-content: center;
}

main .key-visual{
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    justify-content: space-between;  
    align-items: center;
}

main .key-visual>.visual-book{
    flex: none;
    width: 128px;
    height: 179px;
    padding: 13px;
    margin: 50px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #999999;
}

main .key-visual>.visual-book:nth-child(3){
   width: 150px;
   height: auto;
}





/* RWD */
@media (max-width: 1200px) and (min-width: 980px){
    main .key-visual>.visual-book{
        width: 110px;
        height: 157px;
        padding: 13px;
        margin: 40px 15px;        
    }

    main .key-visual>.visual-book:nth-child(3){
        width: 140px;
        height: auto;
     }
}

@media (max-width: 980px) and (min-width: 640px){
    main .key-visual>.visual-book{
        width: 90px;
        height: 128px;
        padding: 8px;
        margin: 40px 10px;     
    }

    main .key-visual>.visual-book:nth-child(3){
        width: 100px;
        height: auto;
     }
}

@media (max-width: 640px) and (min-width: 320px){
    main .key-visual>.visual-book{overflow: auto;}
}