.multiselect-wrapper {
	width: 120px;
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
}

.multiselect-wrapper .multiselect-input {
	width: 220px;
	
}

.multiselect-wrapper label {
	display: block;
	font-size: 12px;
	font-weight : 600;
}

.multiselect-wrapper .multiselect-list {
	z-index: 1;
    position: absolute;
    display: none;
    background-color: white;
    border: 0.5px solid #BBBBBB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -8px;
    margin-left: 20px;
}

	.multiselect-wrapper .multiselect-list.active {
		display: block;
	}

	.multiselect-wrapper .multiselect-list > span {
		font-weight: bold;
	}

	.multiselect-wrapper .multiselect-list .multiselect-checkbox {
		margin-right: 2px;
	}

	.multiselect-wrapper .multiselect-list > span,
	.multiselect-wrapper .multiselect-list li {
		cursor: default;
	}

.multiselect-wrapper .multiselect-list {
	padding: 5px;
	min-width: 220px;
}

.multiselect-wrapper ul {
	list-style: none;
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

	.multiselect-wrapper ul li {
		padding-right: 20px;
		display: block;
	}

		.multiselect-wrapper ul li.active {
			background-color: #B690DF;
			color: white;
		}

		.multiselect-wrapper ul li:hover {
			background-color: #B690DF;
			color: white;
		}

.multiselect-input-div {
	height: 34px;
}

	.multiselect-input-div input{
		background: #fff;
		margin: 5px 0 6px 0;
		padding: 5px;
		vertical-align: middle;
		width: 170px;
		height: 30px;
		border-radius: 8px;
		background-color: white;
		border: solid 1px #BBBBBB;
		padding: 0px 6px;
		margin: 0 20px;
		font-size: 14px;
		font-family: "微軟正黑體";
	}

.multiselect-count {
	position: relative;
	text-align: center;
	border-radius: 2px;
	behavior: url(/Content/Pie/pie.htc);
	background-color: rgba(182,144,223, .4);
	display: inline-block !important;
	padding: 2px 7px;
	left: -60px;
	top: 2px;
}

.multiselect-dropdown-arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
	position: absolute;
	line-height: 20px;
	text-align: center;
	display: inline-block !important;
	margin-top: 17px;
	margin-left: -60px;
	cursor: pointer;
}
