main .view{
    display: flex;
    justify-content: center;
}

main .key-visual{
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    justify-content: space-between;  
    align-items: center;
}

main .key-visual>.visual-book{
    flex: none;
    width: 128px;
    height: 179px;
    padding: 13px;
    margin: 50px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #999999;
}

main .key-visual>.visual-book:nth-child(3){
   width: 150px;
   height: auto;
}

main .introduce{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    letter-spacing: 2px;
}

main .introduce p{line-height: 3;}

main .steps{
    width: 100%;
    padding: 40px 0;
    margin: 30px 0 10px 0;
    background-color: rgba(255, 255, 255, .5);    
    display: flex;
    justify-content: center;
}

main .stepsBox{
    flex: none;
    display: flex;
    justify-content: space-between;
}

main .step{
    flex: none;
    width: 128px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}
main .step>div{
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    background-position: center center;    
    background-repeat: no-repeat;
    background-size: 50%;
}

main .step:nth-child(1)>div{background-image: url("../img/user.svg");}
main .step:nth-child(2)>div{background-image: url("../img/bar.svg");}
main .step:nth-child(3)>div{background-image: url("../img/book.svg");}
main .step:nth-child(4)>div{background-image: url("../img/bookshelf.svg");}
main .step:nth-child(5)>div{background-image: url("../img/clock.svg");}

main .step p { line-height: 1; padding-top: 13px;}


main .loginDiv{ display: flex; justify-content: center;}
main .login{
    width: 200px; height: 50px; align-self: center; letter-spacing: 3px; padding-left: 80px; border-radius: 5px; border:none;
    margin: 6px; font-size: 14px; cursor: pointer; font-family: "微軟正黑體";
    background: url("../img/google.svg") no-repeat 20px #8556B7;
	color: white; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}

/* RWD */

@media (max-width: 1200px) and (min-width: 980px){
    main .key-visual>.visual-book{
        width: 110px;
        height: 157px;
        padding: 13px;
        margin: 40px 15px;        
    }

    main .key-visual>.visual-book:nth-child(3){
        width: 140px;
        height: auto;
     }
    
    main .step{width:120px; margin: 0 15px;}
}

@media (max-width: 980px) and (min-width: 640px){
    main .key-visual>.visual-book{
        width: 90px;
        height: 128px;
        padding: 8px;
        margin: 40px 10px;     
    }

    main .key-visual>.visual-book:nth-child(3){
        width: 100px;
        height: auto;
     }

    main .introduce{letter-spacing: 1px;}
    main .introduce p{line-height: 2;}
    
    main .step{width:90px; margin: 0 10px;}
    main .step>div{width: 85px; height: 85px;}
    main .step p{ font-size: 12px;}
}

@media (max-width: 640px) and (min-width: 320px){
    main .key-visual>.visual-book{overflow: auto;}
    main .introduce{margin: 40px;}
    main .introduce p {font-size: 14px; line-height: 2; text-align: center;}
    main .steps{margin: 20px 0 10px 0;padding: 20px 0;}
    main .stepsBox{flex-direction: column;}
    main .step{margin: 20px 20px;}
}