@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Martel+Sans:200');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900');
/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

* {
    box-sizing: border-box;
    line-height: 16px;
}

body{
	font-size:16px;
	font-family:"Noto Sans JP", arial, sans-serif;
    color:#3f3a3a;   
    background-color: #F1F1F3;
    /* background-image: linear-gradient(rgba(182,144,223, .4),rgba(182,144,223, .2), #F1F1F3); */
}
form{
	margin:0px;padding:0px;
}
a{
	text-decoration:none;color:inherit;
}
input,select,img{
    vertical-align:middle;
}

img{
    width: 100%;   
}

/* loading */
.loading{
    z-index:300;
    display: none;
	position:fixed;top:0px;left:0px;width:100%;height:100%;
	background-color: white;
	opacity: 0.8;
	text-align:center;
}
.loading>img{    
	max-width: 300px;
	position: fixed;
	transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;}

/* menu */

.menu-shade{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(0,0,0,0.5);;
    overflow: hidden;
    z-index: 99;
}

.menu{
    display: flex;
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
    left: -350px;
    background-color:rgba(255,255,255, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    align-items: center;
    -webkit-transition: left 0.5s; 
    transition: left 0.5s;
    overflow: scroll;
    z-index: 200;
}

.close-menu{height: 30px;}

::-webkit-scrollbar { all: unset; width: 0;}

.menu img{
    fleX: none;
    align-self: flex-start;
    width: auto;
    height: 15px;
    margin: 35px 0 0 40px;
    cursor: pointer;
}

.menu div:nth-child(2){
    margin-top: 15px;
}

.menu div{
    width: 80%;
    padding: 35px 0 10px 2px;
    border-bottom: 1px solid #E1E0E1;    
    color: #544D30;
    font-family: "Cinzel", serif, "NSimSun";
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
    cursor: pointer;
}

.menu div a:hover{
    color: #B9B144;  
}

/* header */

header{
    display: flex;
    justify-content: space-around;
    padding: 10px 60px 40px;
    margin: 10px 150px 0 150px; 
}

header .btn_menu{
    flex: auto;
    outline: 0;
    position: absolute;
    left: 60px;
    top: 25px;
}

header .btn_menu img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

header .btn_logo{
    flex: none;    
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
}

header .btn_logo img{
    max-width: 120px;
    height: auto;
    cursor: pointer;
}

header .btn_search{
    flex: auto;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
header .btn_search input{
    flex: none;
    padding: 16px;
    width: 0px;
    border-width: 0px;
    border-radius: 60%;
    background: url("../img/search.svg") center no-repeat transparent;
    background-size: 60%;
    cursor: pointer;
    outline: 0;
}

#addbook{
    width: 35px;
    height: 35px;
    background: url("../img/add_btn.svg") center no-repeat transparent;
    background-size: 50%;
    position: absolute;
    right: 135px;
    top: 38px;
    transform: translateY(-35%);
    cursor: pointer;   
    border: 0;
    z-index: 10;
}

#scanbook{
    width: 35px;
    height: 35px;
    background: url("../img/scan.png") center no-repeat transparent;
    background-size: 60%;
    position: absolute;
    right: 60px;
    top: 38px;
    transform: translateY(-35%);
    cursor: pointer;   
    border: 0;
    z-index: 10;
}

/* search */
.search-shade{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin:0;
    background-color: white;
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility:hidden;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:300ms ease;
    -moz-transition:300ms ease;
    -o-transition:300ms ease;
    transition:300ms ease;
}

.searchbar-img{
  width: 100%;
  position: relative;
  margin-bottom: 200px;
}

.searchbar-img>img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 35px;
    right: 65px;
    cursor: pointer;   
}

.search-shade  form{
    width: 60%;
}

.search-shade form input{
    width: 100%;
    border: 0;
    padding: 12px 0;
    border-bottom: 1px solid #B9B144;
    font-family: "Noto Sans JP", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.searchbar-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchbar-list h5{
    padding: 20px 0 10px 0;
    margin: 5% 0 0 0;
    font-size: 20px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
}
.searchbar-list ul{
    list-style: none;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width:80%;
}

.searchbar-list li{
    font-family: "Cinzel", serif, "NSimSun";
    display: list-item;
    letter-spacing: 2px;
    margin: 20px 3px 0 3px;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
}

.searchbar-list li:after{
    content: "/";
    font-weight: 100;
    padding: 0 5px;
    font-size: 1.75rem;
}

.search-ul a{
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.search-ul a:after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
}

.search-ul a:hover:after{
    border-bottom: 1px solid #B9B144;
    cursor: pointer;
}

/* ADD BOOK */
.add-shade{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    margin:0;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility:hidden;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:300ms ease;
    -moz-transition:300ms ease;
    -o-transition:300ms ease;
    transition:300ms ease;
}

.add-shade .add-img{
    width: 100%;
    position: relative;
    margin-bottom: 100px;
  }
  
.add-shade .add-img>img{
      width: 20px;
      height: 20px;
      position: absolute;
      top: 35px;
      right: 65px;
      cursor: pointer;   
  }

.addbar-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0 60px 0;
    width: 800px;
}
.addbar-list h5{
    padding: 20px 0 10px 0;
    font-size: 20px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;   
}
.addTabs{  
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    width: 800px;
}

.addtab {
    flex: none;
    width: 25%;   
    font-family: "Cinzel", serif, "NSimSun";
    display: flex;
    justify-content: space-around;
    letter-spacing: 2px;
    padding: 15px;
    margin: 10px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(185, 177, 68, .4);
    cursor: pointer;
    border: 0;
    transition: all transform .75s;   
}

.active{
    background-color: rgba(185, 177, 68, 1);
    transition: background 250ms ease-in-out, transform 200ms ease;
    -webkit-appearance: none;    
}

  
  .add-shade  form{
      width: 100%;
      margin-top: 50px;
      position: relative;
  }

  .add-shade form input{
    width: 100%;
    border: 0;
    padding: 12px 0px 10px 20px;
    border-bottom: 1px solid #B9B144;
    font-family: "Noto Sans JP", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;      
}

.add-shade form button{
    width: 20px;
    height: 20px;
    background: url(../img/search.svg) no-repeat;
    background-size: 100%; 
    border: 0;
    position: absolute;
    top: 30%;
    right: 2%;
    cursor: pointer;
}

/* SCAN BOOK */
.scan-shade{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    margin:0;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility:hidden;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:300ms ease;
    -moz-transition:300ms ease;
    -o-transition:300ms ease;
    transition:300ms ease;
}

.scan-shade .scan-img{
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}

.scan-shade .scan-img>img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 35px;
    right: 65px;
    cursor: pointer;   
}

.scan-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0 60px 0;
    width: 800px;
}
.scan-list h5{
    padding: 20px 0 10px 0;
    font-size: 20px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;   
    margin-bottom: 15px;
}

.scan-list .camera{
    width: 100%;
    height: 300px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scan-list .camera button {
    width: 25%;   
    font-family: "Cinzel", serif, "NSimSun";
    letter-spacing: 2px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(185, 177, 68, .4);
    cursor: pointer;
    border: 0;
}

.scan-shade  form{
    width: 100%;
    margin-top: 50px;
    position: relative;
}

.scan-shade form input{
  width: 100%;
  border: 0;
  padding: 12px 0px 10px 20px;
  border-bottom: 1px solid #B9B144;
  font-family: "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;      
}

.scan-shade form button{
  width: 20px;
  height: 20px;
  background: url(../img/search.svg) no-repeat;
  background-size: 100%; 
  border: 0;
  position: absolute;
  top: 30%;
  right: 2%;
  cursor: pointer;
}

/* 搜尋結果 */
.container-two{
    display: none;
    width: 100%;
    max-width: 1100px;
    flex-direction: column;
    align-items: center;
    margin: 70px auto 60px auto;
}

.container-two h2 {
    width: 100%;
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
    margin: 20px;
   padding: 10px 0 20px 0;
   letter-spacing: 3px;
    border-bottom: 1px solid #E1E0E1;
    vertical-align: middle;
}

.container-two h2>span{
    letter-spacing: 2px;
    margin-right: 4px;
}

.result{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* min-height: 250px; */
    overflow-y: scroll;
} 

.result .result-book{
    flex: none;
    display: flex;
    border-bottom: 1px solid #E1E0E1;
    width: 512px;
}

.result>.result-book>.result-book-img{
    flex: none;
    width: 128px;
    height: 180px;
    margin: 30px 10px 30px 40px;
    background-color: white;
}

.result>.result-book>.result-book-info{
    width: 128px;
    margin: 30px 20px 30px 60px;
}

.result>.result-book>.result-book-info>p{
    width: 230px;
    line-height: 1.25;   
    margin: 0 0 15px 0;
    letter-spacing: 1px;  
    font-weight: 600;
}

.result>.result-book>.result-book-info>p>span{
    font-weight: normal;
}

.result-book-info button{
    width: 120px;
    height: 35px;
    letter-spacing: 3px;
    text-align: center;
    border: none;
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer;
    font-family: "微軟正黑體";
    background: rgba(185, 177, 68, 1);
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/* main */

main .bg{
    position: fixed !important;
    top:0;
    right:0;
    bottom:0;
    overflow: hidden;
    left:0;
    width: 100%;
    background: url("../img/background.jpg") bottom center no-repeat  ;
    background-size: 65%;
    background-attachment: fixed;
    opacity: 0.8;
   z-index: -1;
}

main .view{
    position: relative;
    width: 100%;
    min-height: 300px;
    max-width: 1100px;
    margin: 0px auto;
}

/* footer */

footer .footer{
    display: none;
    padding: 10px;
    background-color: #EBE4D1;
    /* display: flex; */
    justify-content: center;    
    letter-spacing: 1px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}       

@media (max-width: 1200px) and (min-width: 980px){
    main .container-two{max-width: 800px;}

    main .container-two .result{
        flex-direction: column;
        flex-wrap: unset;
    }
}

@media (max-width: 980px) and (min-width: 480px){
    .menu{
        width: 250px;
        left: -250px;
    }
    .menu div {
        width: 60%;
        padding: 25px;
    }

    .container-two h2 {
        font-size: 20px;
        padding: 40px 150px 20px 150px;
        text-align: center;
    }

    .container-two .result .result-book{
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 400px;
    }

    .container-two>.result>.result-book>.result-book-info{
        width: 250px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-two>.result>.result-book>.result-book-info>p{
        width: 100%;
    }

    .container-two .result-book-info button{
        width: 150px;
        margin: 10px;   
    }
}

@media (max-width: 480px) and (min-width: 319px){
    .menu {width:180px;left: -180px;}
    .menu img{margin: 65px 0 0 15px;}
    .menu div:nth-child(2){margin-top: 15px;}
    .menu div {
        width: 75%;
        padding: 15px;
    }
    header{
        padding: 60px 0px 20px;
    }

    .container-two{
        width: 100%;
        max-width: 250px;
    }

  
  .container-two h2 {
        font-size: 20px;
        padding: 40px 80px 20px 80px;
    }

    .container-two .result .result-book{
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 400px;
    }

    .container-two>.result>.result-book>.result-book-info{
        width: 180px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-two>.result>.result-book>.result-book-info>p{
        width: 100%;
    }

    .container-two .result-book-info button{
        width: 150px;
        margin: 10px;   
    }

    header .btn_logo img{max-width: 120px;}
    footer .background-img{padding: 30%;background-size: 100%;}
    footer .footer{padding: 10px;}
}