@import "./common.css";

/* welcome */

.welcome main .view{
    display: flex;
    justify-content: center;
    /* width: 1100px; */
    margin: 10px auto;
}

.welcome main .key-visual{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;  
    align-items: center;
}

.welcome main .key-visual>.visual-book{
    flex: none;
    width: 150px;
    height: 214px;
    padding: 13px;
    margin: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #999999;
}


.welcome main .key-visual>.visual-book:nth-child(2),
.welcome main .key-visual>.visual-book:nth-child(4){
    width: 200px;
    height: 288px;
}

.welcome main .key-visual>.visual-book:nth-child(3){
   width: 300px;
   height: auto;
}

.welcome main .introduce{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    letter-spacing: 2px;
}

.welcome main .introduce p{line-height: 3;}

.welcome main .steps{
    width: 100%;
    padding: 40px 0;
    margin: 30px 0 10px 0;
    background-color: rgba(255, 255, 255, .5);    
    display: flex;
    justify-content: center;
}

.welcome main .stepsBox{
    flex: none;
    display: flex;
    justify-content: space-between;
}

.welcome main .step{
    flex: none;
    width: 128px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}
.welcome main .step>div{
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    background-position: center center;    
    background-repeat: no-repeat;
    background-size: 50%;
}

.welcome main .step:nth-child(1)>div{background-image: url("../img/user.svg");}
.welcome main .step:nth-child(2)>div{background-image: url("../img/bar.svg");}
.welcome main .step:nth-child(3)>div{background-image: url("../img/book.svg");}
.welcome main .step:nth-child(4)>div{background-image: url("../img/bookshelf.svg");}
.welcome main .step:nth-child(5)>div{background-image: url("../img/clock.svg");}

.welcome main .step p { line-height: 1; padding-top: 13px;}


.welcome main .signinDiv{ display: flex; flex-direction: column; margin: 10px;}

.welcome .signin{
    width: 250px; height: 50px; align-self: center; letter-spacing: 3px; padding-left: 60px; border-radius: 5px; border:none;
    margin: 6px; font-size: 14px; cursor: pointer; font-family: "Noto Sans JP", arial, sans-serif;
    background: url("../img/google.svg") no-repeat 20px #DCB58C;
	color: white; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}

/* real index page */

.welcome{
    display: none;
}

.real main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.real main .view{
  display: flex;
  justify-content: center;
}

.real main .key-visualBox{
    display: flex;
    justify-content: center;
    margin: 0px 0 50px 0;
    width: 100%;
    max-width: 1000px;
}

.real .key-visual {
    overflow: hidden;
    display: flex;
    width: 840px;
    height: 300px;
}

/* .sliding-background{
   
} */
/* 
@keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-2352px, 0, 0);
    }
  } */

.book-list {   
    width: auto;
    height: 260px;
    display: flex;
    align-items: flex-end; 
}

/* desktop */
.book-list-img{
    position: relative;
    width: 128px; 
    height: auto;
    margin: 0 20px;
    box-shadow: 0px 3px 10px 0px #BBBBBB; 
}

.bookTitle{
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-35%,-15%);
    height: 40px;
    overflow: hidden;
    letter-spacing: 1px;
    line-height: 1.5;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    font-family: "Noto Sans JP", sans-serif;
}

.book-list-img:hover{
    transform-origin: bottom;
    transform: scale(1.3);
    transition: transform .75s;   
    z-index: 100;
}

.book-list-img .overlay{
    position: absolute;
    font-family: "Noto Sans JP", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(101, 101, 101, .6);
    color: white;
    opacity: 0;  
    -webkit-transition: opacity 0s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;  
    cursor: pointer;
}

.book-list-img:hover .overlay{
    opacity: 1;     
}

.overlay>span{
    position: absolute;  
    color: white;
}
.overlay>span:nth-child(1){
    width: 90%;
    letter-spacing:5px;
    text-indent: 5px;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.overlay>span:nth-child(2){
    width: 60%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 12px;
    letter-spacing:5px;
    text-indent: 5px;
    padding: 2px;
    border: 1px solid white;
    text-align: center;
    align-self: center;  
}

.sample-book{
    width: 128px;
    height: 180px;  
    margin: 0 20px;
    background: url("../img/addbook.svg") center no-repeat;
    background-size: 22%;
    opacity: .6;
    cursor: pointer;
    position: relative;
}

.spanBox .overlay{
    position: absolute;
    font-family: "Martel Sans", sans-serif, "微軟正黑體";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(101, 101, 101, .6);
    color: white;
    opacity: 0;  
    -webkit-transition: opacity 0s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;  
    cursor: pointer;
}

.sample-book:hover {  
    transform: scale(1.4);
    transition: transform .75s;
    background:white;
    opacity: .5;
}   

.spanBox:hover .overlay{
    opacity: 1;
}

/* mobile scroll feature*/

.keyVisualMobile {
    overflow: hidden;
    display: flex;
    max-width: 70%;
    position: relative;
}

.bookListMobile{
    /* scroll-snap-type: x mandatory; */
    /* overflow-x: scroll;
    overflow-y: hidden; */
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 300px;
}

.bookHref{
    position: relative;
}

.bookTitleMobile{
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-35%,-15%);
    height: 45px;
    line-height: 1.5;
    overflow: hidden;
    font-family: "Cinzel", serif, "微軟正黑體";
}


.bookListMobileImg{
    min-width: 33.3%;
    min-height: 100%;
    /* scroll-snap-align: center; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #pre{
    display: none;
    width: 35px;
    height: 35px;
    background: url("../img/left.svg") bottom center no-repeat;
    background-size: 100%;
    position: absolute;
    left: 7%;
    top: 35%;
    transform: translateY(-35%);
    cursor: pointer;   
    border: 0;
    z-index: 5;
}

main #next{
    display: none;
    width: 35px;
    height: 35px;
    background: url("../img/right.svg") bottom center no-repeat;
    background-size: 100%;
    position: absolute;
    right: 7%;
    top: 35%;
    transform: translateY(-35%);
    cursor: pointer;  
    border: 0; 
    z-index: 5;
}



/* RWD */
@media (max-width: 1200px) and (min-width: 980px){

    /* welcome */
    .welcome main .key-visual>.visual-book{
        width: 110px;
        height: 157px;
        padding: 13px;
        margin: 40px 15px;        
    }

    .welcome main .key-visual>.visual-book:nth-child(2),
    .welcome main .key-visual>.visual-book:nth-child(4){
        width: 150px;
        height: 214px;
     }

     .welcome main .key-visual>.visual-book:nth-child(3){
        width: 200px;
        height: auto;
     }
    
     .welcome main .step{width:120px; margin: 0 15px;}    
}

@media (max-width: 980px) and (min-width: 640px){

    /* welcome */

    .welcome main .key-visual>.visual-book{
        width: 80px;
        height: 114px;
        padding: 10px;
        margin: 40px 15px;        
    }

    .welcome main .key-visual>.visual-book:nth-child(2),
    .welcome main .key-visual>.visual-book:nth-child(4){
        width: 100px;
        height: 142px;
     }

     .welcome main .key-visual>.visual-book:nth-child(3){
        width: 130px;
        height: auto;
     }

     .welcome main .introduce{letter-spacing: 1px;}
     .welcome main .introduce p{line-height: 2;}
    
     .welcome main .step{width:90px; margin: 0 10px;}
     .welcome main .step>div{width: 85px; height: 85px;}
     .welcome main .step p{ font-size: 12px;}

    /* real index page */

    /* main .key-visualBox{
        margin: 35px 0 30px 0;
    }
    main .key-visual>.visual-book{
        width: 80px;
        height: 114px;
        padding: 10px;
        margin: 40px 15px;        
    }

    main .key-visual>.visual-book:nth-child(2),
    main .key-visual>.visual-book:nth-child(4){
        width: 100px;
        height: 142px;
     }

    main .key-visual>.visual-book:nth-child(3){
        width: 130px;
        height: auto;
     } */

     .bookHref{
        width: 60%;
    }
  
}

@media (max-width: 640px) and (min-width: 480px){

    /* welcome */

    .welcome main .key-visual>.visual-book:nth-child(odd),
    .welcome main .key-visual>.visual-book:nth-child(even){
        overflow: hidden;
        width: 150px;
        height: 214px;
        padding: 10px;
        margin: 40px 15px;        
    }

    .welcome main .introduce{margin: 40px;}
    .welcome main .introduce p {font-size: 14px; line-height: 2; text-align: center;}
    .welcome main .steps{margin: 20px 0 10px 0;padding: 20px 0;}
    .welcome main .stepsBox{flex-direction: column;}
    .welcome main .step{margin: 20px 20px;}

    /* real index page */
    main .key-visual>.visual-book:nth-child(odd),
    main .key-visual>.visual-book:nth-child(even){
        overflow: hidden;
        width: 150px;
        height: 214px;
        padding: 10px;
        margin: 40px 15px;        
    }

    main .key-visualBox{
        margin: 35px 0 50px 0;
    }

    
    /* for key visual scroll */
    .keyVisualMobile {
        max-width: 70%;
    }
    
    
    .bookListMobile{
        height: 200px;
    }
    
    .bookListMobileImg{
        min-width: 50%;
    }

   
}

@media (max-width: 480px) and (min-width: 320px){  

    /* welcome */

    .welcome main .view{min-height: 200px;}

    .welcome main .key-visual>.visual-book:nth-child(1),
    .welcome main .key-visual>.visual-book:nth-child(2),
    .welcome main .key-visual>.visual-book:nth-child(4),
    .welcome main .key-visual>.visual-book:nth-child(5){
        display: none;
    }

    .welcome main .key-visual>.visual-book:nth-child(3){width:128px;height: 179px;margin:0px;}

    .welcome main .introduce{margin: 20px 40px;}
    .welcome main .introduce p {font-size: 14px; line-height: 2; text-align: center;}

    .welcome main {margin-bottom: 60px;}
    .welcome main .steps{margin: 20px 0 10px 0;padding: 20px 0;}
    .welcome main .stepsBox{flex-direction: column;}
    .welcome main .step{margin: 20px 20px;}

    /* real index page */
    main .key-visual>.visual-book:nth-child(odd),
    main .key-visual>.visual-book:nth-child(even){
        overflow: hidden;
        width: 150px;
        height: 214px;
        padding: 10px;
        margin: 40px 15px;        
    }

    main .key-visualBox{
        margin: 35px 0 50px 0;
    }

    
    /* for key visual scroll */
    .keyVisualMobile {
        max-width: 90%;
    }
    
    
    .bookListMobile{
        height: 200px;
    }
    
    .bookListMobileImg{
        min-width: 100%;
    }

    main #pre,
    main #next{
        transform: translateY(-20%);
    }
}